.title {
  display: flex;
  align-items: center;
}
.nameWrapper {
  display: flex;
  flex-wrap: wrap;
  color: var(--color);
}
.titleName {
  font-size: 20px;
  text-transform: capitalize;
}
.subtitle {
  font-size: 16px;
  color: var(--color);
  opacity: 0.8;
}
.block {
  font-size: 24px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  width: 100%;
  min-height: 70vh;
  background-color: var(--black-color);
}