:root {
    --color: white
}

.title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    width: 100px;
    height: 1px;
    background-color: var(--color);
}

.title {
    position: relative;
    color: var(--color);
    font-size: 24px;
}