.title {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.span {
  font-size: 16px;
  color: var(--color);
}
.spinnerContainer {
  min-height: 50vh;
}
.block {
  font-size: 24px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  width: 100%;
  min-height: 70vh;
  background-color: var(--black-color);
}