.card {
  width: 100%;
  max-width: 324px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.img-container {
  position: relative;
  z-index: 1;
  transform: translateY(41px);
}

.card-side {
  background: rgb(205,205,205);
  background: -moz-linear-gradient(0deg, rgba(205,205,205,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(205,205,205,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(0deg, rgba(205,205,205,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdcdcd",endColorstr="#ffffff",GradientType=1);
  width: 2px;
  height: 249px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-8px);
}

.card-img {
  transition: 0.1s transform;
  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.card-img_active {
  transition: 0.5s transform;
  transform: translateY(calc(50vh - 100%)) rotateY(0deg) rotateZ(0deg) scale(1.5);
}

.trajectory {
  position: inherit;
  box-sizing: border-box;
  border: 1px dashed var(--color);
  border-radius: 50%;
  width: 324px;
  height: 80px;
}

.circle {
  position: relative;
  transition: transform 0.2s ease, background-color 0.5s;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  top: 20px;
  left: -10px;
}
.animation {
  animation: 0.9s opacity-animation;
}
@keyframes opacity-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  display: flex;
}

.arrow_left > .line_135 {
  transform: translateX(-15px) translateY(16px) rotate(135deg);
}

.arrow_left > .line_45 {
  transform: translateX(3px) translateY(29px) rotate(45deg);
}

.arrow_right > .line_135 {
  transform: translateX(4px) translateY(29px) rotate(135deg);
}

.arrow_right > .line_45 {
  transform: translateX(22px) translateY(16px) rotate(45deg);
}

.line {
  display: block;
  box-sizing: border-box;
  width: 18px;
  height: 1px;
  background-color: black;
}

.line_45 {
  transform: rotate(45deg);
}

.line_135 {
  transform: rotate(135deg);
}

.input-container {
  position: relative;
}

.input {
  position: absolute;
  top: 50%;
  left: 0;
}

input[type=range].input {
  -webkit-appearance: none;
  -moz-apperance: none;
  transform: translateX(-9px) translateY(50%);
  width: calc(100% + 22px);
  height: 10px;
  background: #00000000;
  outline: none;
}

input[type=range].input::-webkit-slider-thumb {
  transform:  translateY(10px);
  -webkit-appearance: none;
  width: 50px;
  height: 95px;
  background: #00000000;
  cursor: pointer;
}

input[type=range].input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 80px;
  background: #00000000;
}

input[type=range].input::-moz-range-thumb {
  transform:  translateY(10px);
  width: 50px;
  height: 95px;
  background: #00000000;
  cursor: pointer;
}

input[type=range].input::-moz-range-track {
  height: 80px;
  background: #00000000;
}

.dark-bg {
  top: 0;
  left: 0;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: fixed;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

.notification-error {
  text-align: center;
  position: absolute;
  bottom: 59px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
.card {
  transform: inherit;
}
@media screen and (max-width: 320px) {
  .card {
    transform: scale(0.8);
  }
}