.main {
    width: 89px;
    height: 99px;
    border-radius: 4px;
    color: var(--color);
}

.image {
    position: relative;
    width: 38px;
    left: 25px;
    top : -11px;
}

.title {
    font-size: 12px;
    padding: 0;
    text-align: center;font-weight: 400;
}

.number {
    height: 15px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}