.logo {
  position: relative;
  top: 25px;
  left: calc(50% - 66px);
  margin-bottom: 30px;
}
.text {
  color: var(--color);
  font-size: 16px;
}
.scaled {
  transform: scale(-1, 1);
}
.btn-light {
  color: white !important;
  transition: 0.5s all;
  filter: drop-shadow(0px 1px 9px #4CAF50);
}
.btn-light:hover {
  filter: drop-shadow(0px 2px 18px #4CAF50);
}
.chat-container {
  position: relative;
  
}
.chat {
  position: absolute;
  top: -10px;
  left: 50%;
  width: max-content;
  background: #FFFFFF;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);
  border-radius: 31px;
  padding: 3px 13px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.chat::before {
  position: absolute;
  top : 0;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
   border-width: 0 10px 37px 10px;
   border-color: transparent transparent #FFFFFF transparent;
   transform: rotate(233deg);
   z-index: -1;
}

.p-wrapper {
  font-size: 16px;
}
.p-wrapper > img {
  width: 100px;
  margin-right: 20px;
  float: left;
}

.p-wrapper > * span {
  color: #F8E977;
}

.p-wrapper > * a {
  color: #F8E977;
}
.rules-section {
  height: 200px;
}
.topthreeBg {
  background-image: url("/src/assets/img/test/Group 22.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 600px;
  padding: 50px 0;
}
.slider {
  width: 100%;
  max-width: 800px;
}
.light > * > .p-wrapper > * a {
  color: rgb(0, 0, 237);
}
.light > * > .p-wrapper > * span {
  color: red;
}