.card {
    position: relative;
    transition: 0.5s all;
}
.card:hover {
    transform: translateY(-15px);
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    min-height: 350px;
    border-radius: 14px;
    color: black;
    padding: 20px 15px 20px 15px;
}
.span {
    text-align: right;
}
.name {
    font-size: 22px;
    width: 100%;
    text-align: center;
    color: black;
}

.p {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}

.icon {
    flex-basis: 50%;
    display: flex;
    gap: 3px;
    align-items: center;
}

.desc {
    border-top: white solid 1px;
    border-bottom: white solid 1px;
    overflow: auto;
    text-overflow: ellipsis;
    height: 100%;
    margin-top: 10px;
    font-size: 14px;
}

.img {
    margin-top: 5px;
    margin-bottom: 10px;
}
.button {
    display: flex;
    justify-content: center;
}

.btn {
    width: max-content;
    height: max-content;
    padding: 10px 20px;
    box-shadow: 1px 1px 2px;
    color: black;
}
.btn:hover {
    box-shadow: 0px 0px 2px;
}
.btn:focus {
    box-shadow: inset 1px 1px 2px;
}