.main {
    width: 158px;
    min-height: 245px;
    color: var(--background-color);
    border-radius: 21px;
    padding: 13px 10px 10px 10px;
}

.name {
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.p {
    font-size: 8px;
    display: flex;
    flex-wrap: wrap;
}

.icon {
    flex-basis: 50%;
    display: flex;
    gap: 3px;
    align-items: center;
}

.desc {
    border-top: white solid 1px;
    border-bottom: white solid 1px;
    overflow: auto;
    text-overflow: ellipsis;
    height: 50px;
    margin-top: 10px;
    font-size: 8px;
}

.img {
    margin-top: 5px;
    margin-bottom: 10px;
}
.button {
    display: flex;
    justify-content: center;
}

.btn {
    height: 21px !important;
    width: 76px !important;
    font-size: 10px !important;
    color: var(--background-color) !important;
}