.main {
    color: var(--color);
    margin: 20px 0;
    position: relative;
}

.map_legend {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.legend {
    display: flex;
    z-index: 1;
    font-size: 16px;
    gap: 10px;
    align-items: center;
}

.box {
    display: flex;
    height: 20px;
    width: 20px;
    border-radius: 4px;
}

#yellow_box {
    background: #FABD62;
}

#blue_box {
    background: #2171AD;
}
.number_div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

.wrapper {
    width: max-content;
    position: relative;
    left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 273px;
    position: absolute;
    rotate: -20deg;
    left: 60px;
    top: 40px
}

@media (max-width: 375px) {
    .wrapper {
        left: calc(50% - 86px);
    }
    .img {
        display: none;
    }
}
@media (min-width: 768px) {
    .wrapper {
        left: calc(50% - 86px);
    }
    .img {
        left: calc(50% - 150px);
        top: 60px
    }
    .map_legend {
        width: max-content;
        transform: translateX(-100%);
        margin: auto;
    }
}
