.title {
  display: flex;
  align-items: center;
}
.name-wrapper {
  display: flex;
  flex-direction: column;
  color: var(--color);
}
.vintage-name {
  font-size: 20px;
  text-transform: capitalize;
}
.district-name {
  font-size: 16px;
  color: var(--color);
  opacity: 0.8;
}
.location-btn {
  transition: 0.2s background-color;
  padding: 5px 10px;
  text-transform: capitalize;
  border-radius: 4px;
}
.location-btn:hover {
  color: #FFFFFF;
  background: rgb(0, 0, 0) !important;
}
.line {
  display: block;
  width: 1px;
  height: 16px;
  background-color:rgba(255, 255, 255, 0.5);
}
.line{
  background-color:var(--color);
}
.class-wrapper {
  display: flex;
  margin-left: 18px;
  align-items: center;
  gap: 15px;
}
.classification {
  font-size: 14px;
  color: var(--color);
  opacity: 0.5;
}
.classification.active {
  color: var(--color);
  opacity: 1;
}
.subtitle {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 5px;
  color: var(--color);
}
.btn {
  color: black;
  position: fixed;
  bottom: 59px;
  left: calc(50% - 83px);
}
.next {
  opacity: 1;
  transition: 0.2s opacity;
  position: fixed !important;
  bottom: 59px;
  left: calc(50% + 109px);
}
/* 50% - 22.5px + 83px + 24px */
.prev {
  opacity: 1;
  transition: 0.2s opacity;
  transform: rotate(180deg);
  position: fixed !important;
  bottom: 59px;
  left: calc(50% - 153px);
}
.disabled {
  opacity: 0;
}