.step__circle {
    z-index: 2;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.step__img {
    width: 57px;
}

.text {
    margin-left: 30px;
    display: flex;
    flex-direction: column;

}

.step__title {
    z-index: 1;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: black;
    height: 23px;
    padding: 0 19px 0 45px;
    border-radius: 4px;
    width: max-content;
    text-align: center;
}

.step__description {
    transform: translateY(-1px);
    z-index: 0;
    color: white;
    background: #565656;
    box-shadow: inset 2px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 4px 19px 2px 45px;
    min-width: 250px;
    max-width: 50%;
    margin-bottom: 20px;
}
.right {
    transform: scale(-1, 1);
}
.right-title {
    transform: scale(-1, 1);
    padding: 0 45px 0 19px;
}
.right-desc {
    transform: scale(-1, 1);
    padding: 4px 45px 2px 19px;
}

/* light theme */

.light > * > .step__description {
    transition: 0.5s all;
    color: black;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);
}
.light > * > .step__title {
    color: white;
    font-weight: bold;
}