.title {
  display: flex;
  align-items: center;
}
.lastname {
  text-transform: uppercase;
}
.p {
  font-size: 20px;
}
.member{
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 50px;
  margin-left: 20px;
  pointer-events: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.section {
  display: flex;
  justify-content: center;
  gap: 20px;
} 
.img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
  width: 140px;
}
.visitWrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

@media (max-width: 376px) {
  .p {
    text-align: left;
  }
  .section {
    flex-direction: column;
    align-items: center;
  } 
}