.main {
    display: flex;
    position: relative;
}

.button {
    transition: 0.5s;
    border: 0;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background-color: var(--light-color);
}

.help {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
}

.popup {
    z-index: 1;
    transition: 0.5s all;
    position: absolute;
    background: var(--light-color);
    border-radius: 4px;
    font-size: 12px;
    padding: 4px 6px;
    width: max-content;
    max-width: 130px;
    min-height: 35px;
    color: var(--color);
    left: 50px;
    right: 20px;
}

.triangle {
    position: absolute;
    top : 6px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 15px 30px;
    border-color: transparent transparent var(--light-color) transparent;
    rotate: 22deg;
    left: -15px;
    z-index: -1;
}