.button {
  cursor: pointer;
  position: absolute;
  left: 0;
  border: 0;
  height: 30px;
  width: 30px;
  opacity: 0.5;
  border-radius: 50%;
}
.button:hover {
  opacity: 1;
}

.button:focus {
  outline: transparent 0 solid;
}