ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  color: var(--color);
}
section {
  position: relative;
  margin-bottom: 25px;
}
#root {
  padding-bottom: 44px;
  position: relative;
  width: 100%;
  min-height: calc(100vh - 44px);
  background-color: var(--background-color);
}

.lazy-image {
  filter: blur(20px);
  transition: filter 0.3s ease-out;
}

.lazy-image.loaded {
  filter: blur(0);
}