:root {
  --color: white;
  --background-color: #252525;
  --red-color: #FF3939;
  --black-color: #1D1D1D;
}

#root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
}

.lazy-image {
  filter: blur(20px);
  transition: filter 0.3s ease-out;
}

.lazy-image.loaded {
  filter: blur(0);
}