.main {
    width: 341px;
    color: var(--color);
}

.header {
    display: flex;
    justify-content: space-between;
}

.date {
    font-size: 12px;
}

.name {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline;
}

.title {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 10px;
}

.description {
    font-size: 14px;
}

.img {
    margin-top: 10px;
    width: 341px;
}